<mat-accordion color="primary">
  <mat-expansion-panel class="left-nav-expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Subjects
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-form-field class = "container">
        <mat-icon>search</mat-icon>
        <input matInput (keyup)="applySubjectsFilter($event.target.value)" class="search-bar">
      </mat-form-field>
      <table mat-table [dataSource]="subjectsDataSource" class="left-nav-subject-table mat-elevation-z8" color="primary">

        <!-- Name Column -->
        <ng-container matColumnDef="name" class="left-nav-subject-row">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let route">
            <button mat-button color="accent" class="left-nav-button{" routerLink="{{route.url}}">{{route.url}}</button>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel class="left-nav-expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Projects
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-form-field class = "container">
        <mat-icon>search</mat-icon>
        <input matInput (keyup)="applySubjectsFilter($event.target.value)" class="search-bar">
      </mat-form-field>
      <table mat-table [dataSource]="projectsDataSource" class="left-nav-subject-table mat-elevation-z8" color="primary">

        <!-- Name Column -->
        <ng-container matColumnDef="name" class="left-nav-subject-row">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let route">
            <button mat-button color="accent" class="left-nav-button{" routerLink="{{route.url}}">{{route.url}}</button>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel class="left-nav-expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Courses
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-form-field class = "container">
        <mat-icon>search</mat-icon>
        <input matInput (keyup)="applySubjectsFilter($event.target.value)" class="search-bar">
      </mat-form-field>
      <table mat-table [dataSource]="coursesDataSource" class="left-nav-subject-table mat-elevation-z8" color="primary">

        <!-- Name Column -->
        <ng-container matColumnDef="name" class="left-nav-subject-row">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let route">
            <button mat-button color="accent" class="left-nav-button{" routerLink="{{route.url}}">{{route.url}}</button>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-form-field>
  </mat-expansion-panel>

</mat-accordion>




