<h1>NodeJs</h1>

<h2>What is NodeJs?</h2>
<div class="what-is-nodejs container">
  <div class = "half">
    <p>
      Node Js is a JS runtime. It's commonly used as a wrapper around a VM. There are lot of benefits for using node
      below. The gist is that the built in packages allow for high level application design. It also ships with NPM for
      dependency management, something long over due for JS. You can also create C++ addons to increase functionality at
      high speeds. Node is a great platform for tools. You have many options out there as Node ships with NPM as a
      package manager. Node allows you to use JS for your entire stack.
    </p>
    <ol>
      <li>Wrapper for V8</li>
      <li>Built in Modules</li>
      <li>Asynchronous Api's with no Threads</li>
      <li>C++ Addons</li>
      <li>Debugger and utilities</li>
      <li>Module Dependency Management</li>
    </ol>
  </div>
  <img src="assets/img/node.jpg">
</div>
