<h1>Python</h1>
<div class="container">
  <div class="half">
    <p>
      Python is a powerful programming language that prioritises readability and ease of use over speed and comile time.
      Many advancements have been made to mitigate the speed and compile issue, but the overall tenants of python
      dictate that saving development time is a higher priority than most other factors. The Python community is a very
      large and open one, fully willing to share their code.
    </p>
  </div>
  <div class="half">
    <img src="assets/img/python.png">
  </div>
</div>
