<div class="container">
  <div class="half">
    <img src="assets/img/owaspLogo.png">
    <h1>O-Open</h1>
    <h1>W-Web</h1>
    <h1>A-Application</h1>
    <h1>S-Security</h1>
    <h1>P-Project</h1>
  </div>
  <div class="half">
    <p>
      OWASP is a a collection of security information shared across the field of professional security experts. It keeps
      track of the top 10 sections of vulnerabilities as well as serves as a collection of shared knowledge and best
      practices for everyone to follow. It allows for categorization of vulnerabilities for a btter view of the current
      web environment.
    </p>
  </div>
</div>
<br>
<div class="container">
  <div class="quarter">
    <h2>2013 Top 10 Vulnerabilities</h2>
    <ol>
      <li>Injection</li>
      <li>BASM(Broken Authentication and Section Management)</li>
      <li>XSS(Cross Site Scripting)</li>
      <li>IDOR(Insecure Direct Object References)</li>
      <li>Security Misconfiguration</li>
      <li>Sensitive Data Exposure</li>
      <li>Missing Function Level Access Control</li>
      <li>Cross Site Request Forgery</li>
      <li>Using Components with know vulnerabilities</li>
      <li>Unvalidated Redirect and forwards</li>
    </ol>
  </div>
  <div class="quarter">
    <h2>2017 Top 10 Vulnerabilities</h2>
    <ol>
      <li>Injection</li>
      <li>BA(Broken Authentication)</li>
      <li>XSS(Cross Site Scripting)</li>
      <li>XML External Entities</li>
      <li>Security Misconfiguration</li>
      <li>Sensitive Data Exposure</li>
      <li>Broken Access Control</li>
      <li>Insecure Deserialization</li>
      <li>Using Components with know vulnerabilities</li>
      <li>Insufficient Logging and Monitoring</li>
    </ol>
  </div>
</div>
