div#content {
  background-image: url(src/assets/img/node.png);
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  /* You may add things like width, height, background-size... */
}
