<app-header (toggleSideNav)="drawer.toggle()" class="dark-theme"></app-header>
<mat-drawer-container class="app-container dark-theme" autosize>
  <mat-drawer #drawer class="app-sidenav mat-elevation-z10"
              [mode]="isScreenSmall()? 'over' : 'side'"
              [opened]="!isScreenSmall()">
      <app-left-nav></app-left-nav>
  </mat-drawer>
  <mat-drawer-content color="accent">
    <mat-card class="main-content example-card" color="accent">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
